.room {
    width: 400px; /* Ancho de la sala */
    height: 400px; /* Alto de la sala */
    background-color: lightgrey; /* Color de fondo de la sala */
    position: relative; /* Para posicionar elementos hijos si se necesita */
    border: 10px solid #333; /* Pared sólida (puedes ajustar el grosor y color) */
    box-sizing: border-box; /* Para que el borde no afecte el tamaño total */
  }
  

  .enemy {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: transform 0s; /* Sin transición para rotación */
  }